<div class="container">
  <form [formGroup]="form">
    <label>Nome</label>
    <input [formControl]="form.controls.nome" type="text" />
    <label>Cidade</label>
    <input [formControl]="form.controls.cidade" type="text" />
    <label>Idade</label>
    <input [formControl]="form.controls.idade" type="number" />
    <span>Sexo</span>
    <input [formControl]="form.controls.sexo" type="radio" [value]="true"/>
    <label>Masculino</label>
    <input [formControl]="form.controls.sexo" type="radio" [value]="false"/>
    <label>Feminino</label>
  </form>
</div>
